<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="disabled" ng-if="$ctrl.mailbox.letters.length == 0">Писем нет</div>
                <div class="letter"
                     ng-repeat="letter in $ctrl.mailbox.letters"
                     ng-click="$ctrl.selectLetter(letter)">
                    <div class="mark" ng-if="$ctrl.letter == letter"></div>
                    <span class="label label-default">{{letter.sender}}</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="label label-default">{{letter.recipient}}</span><br>
                    <strong>{{letter.subject}}</strong><br>
                    <span class="text-muted">{{letter.body}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-if="$ctrl.letter">
        <div class="panel panel-default">
            <div class="panel-body">
                <preview letter="$ctrl.letter"></preview>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <h3>Новое письмо</h3>
        <form class="form">
            <input type="text" class="form-control" ng-model="$ctrl.newLetter.recipient" placeholder="Получатель">
            <input type="text" class="form-control" ng-model="$ctrl.newLetter.subject" placeholder="Тема">
            <textarea class="form-control" ng-model="$ctrl.newLetter.body" placeholder="Текст"></textarea>
        </form>
        <button type="button" class="pull-right btn btn-primary" ng-click="$ctrl.sendLetter()">
            Сохранить письмо
        </button>
    </div>
</div>