<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="list-group">
            <p class="letter disabled" ng-if="$ctrl.mailbox.letters.length == 0">Писем нет</p>
            <p class="letter"
               ng-repeat="letter in $ctrl.mailbox.letters"
               ng-click="$ctrl.selectLetter(letter)" ng-class="{'selected':$ctrl.letter == letter}">
                <strong>{{letter.subject}}</strong>
                <span class="text-muted">{{letter.body}}</span>
            </p>

        </div>
    </div>
    <div class="col-lg-6 col-md-6" ng-if="$ctrl.letter">
        <preview letter="$ctrl.letter"></preview>
    </div>
</div>